.button {
  @include size(100px, 50px);

  font-size: 12px;
  font-weight: $bold;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;

  &--active {
    background: $blue;
    color: $white;
    cursor: pointer;
  }

  &--inactive {
    background-color: $white;
    color: $light-gray;
  }
}
