.header {
  margin-bottom: 1em;

  &__links {
    background: $green;
    display: flex;
    justify-content: center;
    padding: .5em;
  }

  &__link {
    color: $white;
    margin-right: 1em;
    text-decoration: none;
    text-transform: uppercase;
  }
}
