.loading-placeholder {
  text-align: center;
  padding-top: 20px;
  height: 60px;
  padding-bottom: 100px;

  &.overlay {
    padding: 0;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    height: auto;
    z-index: 999999;
  }

  &.active {
    display: block;
  }

  .loading {
    background: url("../images/ajax-loader.gif") no-repeat left center;
    height: 32px;
    display: inline-block;
    padding-left: 40px;
    line-height: 32px;
  }

  .remove {
    @include size(30px);
    @include position(absolute, 0 0 null null);

    background: url("../images/close.svg") no-repeat;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
