// Globals
@import '~susy/sass/susy';

// Variables
@import './variables/breakpoints';
@import './variables/colors';
@import './variables/grid-settings';

// Mixins
@import './mixins/position';
@import './mixins/size';
@import './mixins/media-queries';

// Layouts
@import './layouts/error-page';
@import './layouts/newsletter-page';

// Common
@import './_buttons';
@import './_loader';

html, body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}

.app-component {
  .logo {
    background: url("../images/homepage.gif") no-repeat center;
    height: 50px;
    width: 100%;
  }
}
