.newsletter {
  @include with-layout($susy $susy-debug) {
    @include show-grid;
  }

  @include phone {
    @include with-layout($susy-phone $susy-debug) {
      @include show-grid;
    }
  }
  @include container;

  h2 {
    color: $white;
  }

  &__register {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__registration-form {
    background: $green;
    padding: 2em 3em;
  }

  &__email-input {
    font-size: 14px;
    margin-bottom: .5em;
    padding: 1em;
    width: 100%;
  }

  &__form-submit {
    text-align: center;
  }
}
